<!DOCTYPE html>
<html>
<head>
	<title>HIV Management Portal</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f5f5f5;
		}
		header {
			background-color: #333;
			color: #fff;
			padding: 50px;
			text-align: center;
			font-size: 35px;
			font-weight: bold;
		}

		h4 {
			margin-right: 20px;
			text-align: right;
		}
		h3  {
			font-weight: normal;
		}

		.container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 20px;
			padding: 20px;
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: 0px 2px 2px #ccc;
		}
		.container2 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 20px;
			padding: 20px;
			background-color: #fff;
			border: 1px solid #ccc;
			box-shadow: 0px 2px 2px #ccc;
			font-weight: normal;
		}
		.card {
			width: 300px; /* set a fixed width */
			height: 180px; /* set a fixed height */
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 10px;
			padding: 20px;
			background-color: #eee;
			border: 1px solid #ccc;
			box-shadow: 0px 2px 2px #ccc;
		}

		.card h2 {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.card p {
			font-size: 18px;
			margin-bottom: 10px;
		}
		.card button {
			background-color: #333;
			color: #fff;
			padding: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}
		.card button:hover {
			background-color: #444;
		}
		button{
			width: 200px; /* set a fixed width */
			height: 40px; /* set a fixed height */
		}
		.logout-btn {
			float: right;
			margin-right: 20px;
			margin-top: 5px;
		}
		.welcome {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
            padding: 20px;
            background-color: #eee;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 2px #ccc;
        }
		img {
			margin: 10px 10px;
		}

		
	</style>
</head>
<body>
		<form action="/logout" method="POST">
			<button type="submit" class="logout-btn">Logout</button>
		  </form>

	<header>HIV Management Portal </header>

	<div class="welcome">
		<h2>Welcome <%= username %>!</h2>  
	</div>


	<div class="container">
        <h3>Welcome to HIV HELPER. This web application will be used as a tool for people living with HIV. Through this application, users can stay informed about the disease itself, ensure that doctor and lab appointments are scheduled and all appointments are kept, and track exercise and healthy eating, These are the most important areas of care and management that should be considered for people living with HIV.
            </h3>
    </div>
    <div class="container">
        <% if (appointments.length > 0) { %>
            <h2>Reminder: Upcoming <%= final.type %> Appointment</h2>
            <p><%= final.date %> at <%= final.time %></p>
          <% } else { %>
            <h2>No Upcoming Appointments</h2>
          <% } %>
    </div>
	


	<div class="container">
		<div class="card">
            <h2>Appointments</h2>
            <p>View and manage appointments</p>
            <button id = "myApps">View Appointments</button>
            <script>
                document.getElementById("myApps").addEventListener("click", function() {
                  window.location.href = "/appointments";
                });
            </script>
        </div>
		<div class="card">
			<h2>Exercise</h2>
			<p>View and track exercises</p>
			<button id = "myExercise">View Exercises</button>
			<script>
				document.getElementById("myExercise").addEventListener("click", function() {
				  window.location.href = "/exercise";
				});
			</script>
		</div>
		<div class="card">
			<h2>Diet</h2>
			<p>View and track diet</p>
			<button id = "myDiet">View Diet</button>
			<script>
				document.getElementById("myDiet").addEventListener("click", function() {
				  window.location.href = "/diet";
				});
			</script>
		</div>

	</div>
	<div class = "container">
        <div class="card">
            <img src="https://imageio.forbes.com/specials-images/imageserve/1077065534/HIV-virus-AIDS-disease-concept-illustration-/0x0.jpg?format=jpg&crop=3300,2199,x0,y170,safe&width=960" width="220" height="260">
            
			<a href="https://www.medicalnewstoday.com/articles/323981">What is it Like to Live with HIV?</a>
        </div>
        <div class="card">
            <img src="https://blog.nasm.org/hubfs/beginner-stretches.jpg" width="220" height="260" >
            
			<a href="https://www.webmd.com/hiv-aids/hiv-lifestyle-changes">Important Lifestyle Considerations</a>
        </div>
        <div class="card">
            <img src="https://media.istockphoto.com/id/1183967695/photo/be-the-person-who-helps-the-next.jpg?s=612x612&w=0&k=20&c=zUIWa_uRJ6GXU5VHpTezYt-C0w2C7zBLCFVVsDUZrX8=" width="220" height="260">
            
			<a href="https://www.healthline.com/health/hiv/online-hiv-support-groups">Connect With Others</a>
        </div>

    </div>
</body>
</html>
